.task-list{
  cursor: pointer;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

.task-status{
  border: 1px solid black;
  padding: 2px;
  gap: 4px;
  display: flex;
  justify-content: space-between;
}

.task-view{
  border: 1px solid black;
  padding: 2px;
  gap: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}